.BetGetBtn {
  font-family: inherit;
}

.BetGetAllBtn {
  font-family: inherit;
}

.BetCreateBtn {
  font-family: inherit;
}

.BetUpdateBtn {
  font-family: inherit;
}

.BetDeleteBtn {
  font-family: inherit;
}

.BetGetFrm {
  font-family: inherit;
}

.BetGetAllFrm {
  font-family: inherit;
}

.BetCreateFrm {
  font-family: inherit;
}

.BetUpdateFrm {
  font-family: inherit;
}

.BetDeleteFrm {
  font-family: inherit;
}

.BetGetMdl {
  font-family: inherit;
}

.BetGetAllMdl {
  font-family: inherit;
}

.BetCreateMdl {
  font-family: inherit;
}

.BetUpdateMdl {
  font-family: inherit;
}

.BetDeleteMdl {
  font-family: inherit;
}

.BetGetMdlBtn {
  font-family: inherit;
}

.BetGetAllMdlBtn {
  font-family: inherit;
}

.BetCreateMdlBtn {
  font-family: inherit;
}

.BetUpdateMdlBtn {
  font-family: inherit;
}

.BetDeleteMdlBtn {
  font-family: inherit;
}

.CouponGetBtn {
  font-family: inherit;
}

.CouponGetAllBtn {
  font-family: inherit;
}

.CouponCreateBtn {
  font-family: inherit;
}

.CouponUpdateBtn {
  font-family: inherit;
}

.CouponDeleteBtn {
  font-family: inherit;
}

.CouponGetFrm {
  font-family: inherit;
}

.CouponGetAllFrm {
  font-family: inherit;
}

.CouponCreateFrm {
  font-family: inherit;
}

.CouponUpdateFrm {
  font-family: inherit;
}

.CouponDeleteFrm {
  font-family: inherit;
}

.CouponGetMdl {
  font-family: inherit;
}

.CouponGetAllMdl {
  font-family: inherit;
}

.CouponCreateMdl {
  font-family: inherit;
}

.CouponUpdateMdl {
  font-family: inherit;
}

.CouponDeleteMdl {
  font-family: inherit;
}

.CouponGetMdlBtn {
  font-family: inherit;
}

.CouponGetAllMdlBtn {
  font-family: inherit;
}

.CouponCreateMdlBtn {
  font-family: inherit;
}

.CouponUpdateMdlBtn {
  font-family: inherit;
}

.CouponDeleteMdlBtn {
  font-family: inherit;
}

.CouponUpdateGetBtn {
  font-family: inherit;
}

.CouponUpdateGetAllBtn {
  font-family: inherit;
}

.CouponUpdateCreateBtn {
  font-family: inherit;
}

.CouponUpdateUpdateBtn {
  font-family: inherit;
}

.CouponUpdateDeleteBtn {
  font-family: inherit;
}

.CouponUpdateGetFrm {
  font-family: inherit;
}

.CouponUpdateGetAllFrm {
  font-family: inherit;
}

.CouponUpdateCreateFrm {
  font-family: inherit;
}

.CouponUpdateUpdateFrm {
  font-family: inherit;
}

.CouponUpdateDeleteFrm {
  font-family: inherit;
}

.CouponUpdateGetMdl {
  font-family: inherit;
}

.CouponUpdateGetAllMdl {
  font-family: inherit;
}

.CouponUpdateCreateMdl {
  font-family: inherit;
}

.CouponUpdateUpdateMdl {
  font-family: inherit;
}

.CouponUpdateDeleteMdl {
  font-family: inherit;
}

.CouponUpdateGetMdlBtn {
  font-family: inherit;
}

.CouponUpdateGetAllMdlBtn {
  font-family: inherit;
}

.CouponUpdateCreateMdlBtn {
  font-family: inherit;
}

.CouponUpdateUpdateMdlBtn {
  font-family: inherit;
}

.CouponUpdateDeleteMdlBtn {
  font-family: inherit;
}

.MigrationGetBtn {
  font-family: inherit;
}

.MigrationGetAllBtn {
  font-family: inherit;
}

.MigrationCreateBtn {
  font-family: inherit;
}

.MigrationUpdateBtn {
  font-family: inherit;
}

.MigrationDeleteBtn {
  font-family: inherit;
}

.MigrationGetFrm {
  font-family: inherit;
}

.MigrationGetAllFrm {
  font-family: inherit;
}

.MigrationCreateFrm {
  font-family: inherit;
}

.MigrationUpdateFrm {
  font-family: inherit;
}

.MigrationDeleteFrm {
  font-family: inherit;
}

.MigrationGetMdl {
  font-family: inherit;
}

.MigrationGetAllMdl {
  font-family: inherit;
}

.MigrationCreateMdl {
  font-family: inherit;
}

.MigrationUpdateMdl {
  font-family: inherit;
}

.MigrationDeleteMdl {
  font-family: inherit;
}

.MigrationGetMdlBtn {
  font-family: inherit;
}

.MigrationGetAllMdlBtn {
  font-family: inherit;
}

.MigrationCreateMdlBtn {
  font-family: inherit;
}

.MigrationUpdateMdlBtn {
  font-family: inherit;
}

.MigrationDeleteMdlBtn {
  font-family: inherit;
}

.UserGetBtn {
  font-family: inherit;
}

.UserGetAllBtn {
  font-family: inherit;
}

.UserCreateBtn {
  font-family: inherit;
}

.UserUpdateBtn {
  font-family: inherit;
}

.UserDeleteBtn {
  font-family: inherit;
}

.UserGetFrm {
  font-family: inherit;
}

.UserGetAllFrm {
  font-family: inherit;
}

.UserCreateFrm {
  font-family: inherit;
}

.UserUpdateFrm {
  font-family: inherit;
}

.UserDeleteFrm {
  font-family: inherit;
}

.UserGetMdl {
  font-family: inherit;
}

.UserGetAllMdl {
  font-family: inherit;
}

.UserCreateMdl {
  font-family: inherit;
}

.UserUpdateMdl {
  font-family: inherit;
}

.UserDeleteMdl {
  font-family: inherit;
}

.UserGetMdlBtn {
  font-family: inherit;
}

.UserGetAllMdlBtn {
  font-family: inherit;
}

.UserCreateMdlBtn {
  font-family: inherit;
}

.UserUpdateMdlBtn {
  font-family: inherit;
}

.UserDeleteMdlBtn {
  font-family: inherit;
}

/*# sourceMappingURL=app.core.css.map */
